@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

@layer components {
  main {
    @apply w-full flex flex-col gap-12 lg:gap-20 text-center mt-[25%] lg:mt-40 px-6 lg:px-20 max-w-[80rem];
  }

  main.project {
    @apply gap-12 lg:gap-16;
  }

  p {
    @apply max-w-3xl text-neutral-200 leading-relaxed pb-4;
  }

  .large-title {
    @apply text-3xl xl:text-5xl font-semibold bg-gradient-to-b from-white to-neutral-400 inline-block text-transparent bg-clip-text md:pb-4 lg:pb-6 tracking-tighter;
  }

  .title-1 {
    @apply text-3xl font-semibold bg-gradient-to-b from-neutral-200 to-neutral-400 inline-block text-transparent bg-clip-text pb-4 tracking-tighter;
  }

  .title-2 {
    @apply text-2xl font-bold bg-gradient-to-b from-neutral-200 to-neutral-400 inline-block text-transparent bg-clip-text pb-3 tracking-tighter;
  }

  .title-3 {
    @apply text-xl font-bold bg-gradient-to-b from-neutral-200 to-neutral-400 inline-block text-transparent bg-clip-text pb-3 tracking-tighter;
  }

  .title-4 {
    @apply text-lg font-bold bg-gradient-to-b from-neutral-200 to-neutral-400 inline-block text-transparent bg-clip-text pb-2 tracking-tighter;
  }

  .headline {
    @apply text-sm font-medium text-neutral-400;
  }

  .lead {
    @apply leading-relaxed text-lg;
  }

  .lead-2 {
    @apply text-base;
  }

  .body-text {
  }

  .chip {
    @apply bg-neutral-800 w-fit py-1 px-3 rounded-full text-sm text-neutral-300;
  }

  nav a.link {
    @apply text-sm font-medium text-neutral-400 hover:text-purple-300 transition-colors;
  }

  .document-link {
    @apply text-xs uppercase tracking-widest text-neutral-400 hover:text-neutral-200;
  }

  .divider {
    @apply h-[1px] w-full bg-gradient-to-r from-neutral-950 via-neutral-800 to-neutral-950;
  }
}
