@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

@layer components {
  header:not(.nav),
  section {
    @apply p-6 lg:px-20 lg:py-10;
  }

  main.has-padding {
    @apply w-full max-w-[80rem] flex flex-col text-center mt-20;
  }

  p {
    @apply max-w-3xl text-neutral-200 leading-relaxed;
  }

  .large-title {
    @apply text-3xl xl:text-5xl font-semibold bg-gradient-to-b from-white to-neutral-400 inline-block text-transparent bg-clip-text md:pb-4 lg:pb-6 tracking-tighter;
  }

  .title-1 {
    @apply text-2xl xl:text-3xl font-semibold bg-gradient-to-b from-neutral-200 to-neutral-400 inline-block text-transparent bg-clip-text pb-3 tracking-tighter;
  }

  .title-2 {
    @apply text-lg xl:text-2xl font-bold bg-gradient-to-b from-neutral-200 to-neutral-400 inline-block text-transparent bg-clip-text pb-1.5 lg:pb-3 tracking-tighter;
  }

  .title-3 {
    @apply text-base xl:text-xl font-bold bg-gradient-to-b from-neutral-200 to-neutral-400 inline-block text-transparent bg-clip-text pb-1.5 lg:pb-3 tracking-tighter;
  }

  .title-4 {
    @apply text-sm xl:text-lg font-bold bg-gradient-to-b from-neutral-200 to-neutral-400 inline-block text-transparent bg-clip-text pb-1 lg:pb-2 tracking-tighter;
  }

  .headline {
    @apply text-sm font-medium text-neutral-400;
  }

  .lead {
    @apply leading-relaxed text-lg;
  }

  .lead-2 {
    @apply text-base;
  }

  .body-text {
  }

  .callout {
  }

  .subhead {
  }

  .caption-1 {
  }

  .caption-2 {
  }

  .chip {
    @apply bg-neutral-800 w-fit py-1 px-3 rounded-full text-sm text-neutral-300;
  }

  nav a.link {
    @apply text-sm font-medium text-neutral-200;
  }
}
